<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Backbone_Manager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Backbone_Manager.My.MySettings.telcon" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=telefoniadb.accdb"/>
        <add name="Backbone_Manager.My.MySettings.tvcon" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=tvcabledb.accdb"/>
        <add name="Backbone_Manager.My.MySettings.currentcon" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=telefoniadb.accdb"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Backbone_Manager.My.MySettings>
            <setting name="NetworkName" serializeAs="String">
                <value>TELEFONIA</value>
            </setting>
            <setting name="DefaultColorValue" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="ErrorColorValue" serializeAs="String">
                <value>Yellow</value>
            </setting>
        </Backbone_Manager.My.MySettings>
    </userSettings>
</configuration>
